<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile setup</title>
</head>
<body>
    <h2>Welcome some jinja here when ready</h2>
    <!-- form for setting up security profile -->
    <form action="/security_questions" method="post">
        <h3>Choose one:</h3>
        <ul>
            <ol>
                <li>
                   <label for="question-one">What is your oldest sibling’s middle name?</label>
                   <input type="text" name="question-one" id="">
                </li> 
                <li>
                    <label for="question-two">In what city or town did your mother and father meet?</label>
                    <input type="text" name="question-two" id="">
                </li>
                <li>
                    <label for="question-three">What is your car’s license plate number?</label>
                    <input type="text" name="question-three" id="">
                </li>
            </ol>
        </ul>
        <input type="submit" value="Submit">
    </form>
    <!-- potential about self -->
    <!-- where you're from -->
    <!-- could set what type of oils you're into -->
</body>
</html>